<div class="preview-large" *ngIf="showLarge">
    <img class="preview-large-image" [src]="modelPicSrc" />
</div>
<div class="model-container">
    <div class="header">
        <div id="displayBlock" *ngIf="!eidtMode" class="display-block">
            <div class="body-size-container" (mouseover)="showLarge = true" (mouseleave)="showLarge = false">
                <img class="body-size" [src]="modelPicSrc" />
            </div>

            <div class="body-info">
                <label class="info-item">{{selectedModel.sex}}</label> 
                <label *ngIf="selectedModel?.weight" class="info-item">| &nbsp; {{selectedModel?.weight}} KG</label>
                <label *ngIf="selectedModel?.height" class="info-item">| &nbsp; {{selectedModel?.height}} CM</label>
            </div>

            <button (click)="changeEditMode()" class="model-icon-button body-edit"></button>
        </div>

        <div id="editBlock" *ngIf="eidtMode" class="edit-block">
            <div class="form-item" style="display: flex; justify-content: space-between;">
                <div>
                    <label class="sub-title must-item">Gender</label>

                    <div class="form-item-content" >
                        <select class="form-item-input" [(ngModel)]="nextSelectedModel.sex">
                            <option *ngFor="let sex of SexOption" [value]="sex">
                              {{ sex }}
                            </option>
                        </select>
                    </div>
                </div>

                <div>
                    <label class="sub-title must-item">Weight</label>

                    <div class="form-item-content" >
                        <input class="form-item-input" [value]="nextSelectedModel.weight"> 
                        <label class="unit">KG</label>
                    </div>
                </div>

                <div>
                    <label class="sub-title must-item">Height</label>

                    <div class="form-item-content" >
                        <input class="form-item-input" [value]="nextSelectedModel.height"/> <label class="unit">CM</label>
                    </div>
                </div>

            </div>

            <div class="form-item">
                <label class="sub-title" style="margin-bottom: 8px;">Choose your body shape</label>
                <div class="form-item-content">
                    <div style="cursor: pointer; margin-right: 16px;" class="body-size-container" *ngFor="let image of bodyImages" [ngClass]="isSelectedBody(image.size) ? 'slected-body' : ''" (click)="changeBodySize(image.size)">
                        <img class="body-size" [src]="image.url" [alt]="image.size" />
                    </div>
                </div>
            </div>

            <div class="form-item">
                <label class="sub-title" style="margin-bottom: 8px;">Upload a full-body photo of yourself to generate your model</label>
                <div class="form-item-content">
                    <div class="upload-container" (click)="upload()">
                        <img *ngIf="!uploadedPreview" src="assets/images/upload.png" class="upload-image" />
                        <input id="uploadInput" type="file" #uploadInput style="display: none;">
                        <img *ngIf="uploadedPreview" class="preview-image" [src]="uploadedPreview" />
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <button (click)="saveModel()" class="form-action" style="font-weight: 700; margin-right: 16px;">Save</button>
                <button (click)="cancle()" class="form-action-transparent">Cancel</button>
            </div>

        </div>

    </div>
    <div class="preview-container">
        <div style="background-image: url('assets/images/preview-bg.png');" class="preview-background">
            <div *ngIf="isLoading" class="loader">
                <div class="loader-inner ball-clip-rotate">
                    <div></div>
                </div>
            </div>
            <img *ngIf="!isLoading" class="preview-image" [src]="tryOnImageSrc" [ngClass]="compareMode? 'image-compare-mode' : ''" />
            <img *ngIf="compareMode && !isLoading" class="image-compare-mode" [src]="getLastTriedImage()" />
            <button *ngIf="!isLoading" [ngClass]="reStartNeeded ? 'active' : ''" (click)="startTryOn()" class="transparent-btn start"></button>
            <button *ngIf="!isLoading && couldCompare && !compareMode" (click)="compare()" class="transparent-btn compare"><i class="fa-solid fa-code-compare"></i></button>
            <button *ngIf="!isLoading && compareMode" (click)="compareMode = !compareMode" class="transparent-btn revert"><i class="fa-solid fa-rotate-left"></i></button>
        </div>
    </div>
</div>