<div class="model-container">
    <div class="header">
        <div id="displayBlock" *ngIf="!eidtMode" class="display-block">
            <div class="body-size-container">
                <img class="body-size" [src]="getCurrentBodySizeImage(selectedModel).url" />
            </div>

            <div class="body-info">
                <label class="info-item">{{selectedModel.sex}}</label> |
                <label class="info-item">{{selectedModel.size}}</label>
            </div>

            <button (click)="changeEditMode()" class="model-icon-button body-edit"></button>
        </div>

        <div id="editBlock" *ngIf="eidtMode" class="edit-block">
            <div class="form-item">
                <label class="sub-title">Gender</label>

                <div class="form-item-content" style="display: inline-block; padding: 0 50px;">
                    <input type="radio" id="female" name="sexOption" [checked]="nextSelectedModel.sex === SexOption.FEMALE" [value]="SexOption.FEMALE" (click)="changeSex(SexOption.FEMALE)">
                    <label for="female">Female</label>
                    <input type="radio" id="male" name="sexOption" [checked]="nextSelectedModel.sex === SexOption.MALE" [value]="SexOption.MALE" (click)="changeSex(SexOption.MALE)">
                    <label for="male">Male</label>
                </div>

            </div>

            <div class="form-item">
                <label class="sub-title" style="margin-bottom: 8px;">Choose your body shape</label>
                <div class="form-item-content">
                    <div style="cursor: pointer; margin-right: 16px;" class="body-size-container" *ngFor="let image of bodyImages" [ngClass]="isSelectedBody(image.size) ? 'slected-body' : ''" (click)="changeBodySize(image.size)">
                        <img class="body-size" [src]="image.url" />
                    </div>
                </div>
            </div>

            <div class="form-item">
                <label class="sub-title" style="margin-bottom: 8px;">Upload a full-body photo of yourself to generate your model</label>
                <div class="form-item-content">
                    <div class="upload-container" (click)="upload()">
                        <img src="assets/images/upload.png" class="upload-image" />
                        <input id="uploadInput" type="file" #uploadInput style="display: none;">
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <button (click)="saveModel()" class="form-action" style="font-weight: 700; margin-right: 16px;">Save</button>
                <button (click)="changeEditMode()" class="form-action-transparent">Cancel</button>
            </div>

        </div>

    </div>
    <div class="preview-container">
        <div class="preview-background">
            <img class="preview-image" [src]="modelPicSrc" />
        </div>
    </div>
</div>