.tab {
    width: auto;
    height: 40px;
    border-bottom: 1px solid lightgray;

    .tabDefault {
        background: none;
        border: none;
        font-weight: 400;
        height: 40px;
        margin-left:32px;
    }
    .tabActive {
        background: none;
        border: none;
        border-bottom: 2px solid rgb(0, 100, 217);
        color:rgb(0, 100, 217);
        font-weight:600;
        height: 40px;
        margin-left:32px;
    }
  }