<div class="try-on-dialog-container">
  <div class="header">
    <label class="title">Visual Try On</label>
    <button class="close-btn">x</button>
  </div>

  <div class="content-container">
    <div class="content-block">
      <div class="title">Your Model</div>
      <cx-model-display></cx-model-display>
      <checkout-part></checkout-part>
    </div>

    <div class="content-block">
      <div class="title">Select Products</div>
      <ui-tabs>
        <product-tab-item tabName="You May Like" [active]="true" [content]="productsContent">
          <ng-template #productsContent let-tab>
            <section class="results">
            <recommend-products
              *ngFor="let recommendProduct of recommendProductList"
              [recommendProduct]="recommendProduct">
            </recommend-products>
            </section>
          </ng-template>
        </product-tab-item>
        <product-tab-item tabName="Carts" [content]="cartsContent">
          <ng-template #cartsContent let-tab>
            <h2>{{tab.tabName}}</h2>
            <div>carts Content</div>
          </ng-template>
        </product-tab-item>
        <product-tab-item tabName="My Wishlist" [content]="wishListContent">
          <ng-template #wishListContent let-tab>
            <h2>{{tab.tabName}}</h2>
            <div>My Wishlist Content</div>
          </ng-template>
        </product-tab-item>
      </ui-tabs>
    </div>
  </div>

</div>