<div class="checkout-container">
    <div class="quantity-select-container">
        <select class="select-unit" name="quantity" id="quantity">
            <option value="1">One-Pieces</option>
            <option value="2">Two-Pieces</option>
        </select>
    </div>
    <div class="selected-clothes">
        <div class="selected-clothes-container" style="position: relative;">
            <cx-icon style="font-size: 32px;" *ngIf="!selectedClothImageUrl" class="cx-icon fas fa-shopping-cart"
                ng-reflect-type="CART"></cx-icon>
            <img *ngIf="selectedClothImageUrl" class="image" [src]="selectedClothImageUrl" />
            <button *ngIf="selectedClothImageUrl" class="remove-icon-button" (click)="removeSelectedCloth()"></button>
        </div>

        <div class="checkout-confirm">
            <label class="checkout-info">Looks good? Order now and get a discount</label>
            <button (click)="checkout()" class="checkout">Add to cart</button>
        </div>

    </div>
</div>
